@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './btn.scss';

$jdk-main-color: #5599ff;

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-padding {
  padding: 0px !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

.flex {
  display: flex;
}
.flex1 {
  flex: 1;
}

/*决定主轴的方向*/
.flex-row {
  flex-direction: row;
}

.flex0 {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
}

.flex-column {
  flex-direction: column;
}

.flex-vend {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.flex-vstart {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-start;
}

.flex-hend {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.flex-wrap {
  /*nowrap（默认）：不换行。*/
  flex-wrap: wrap;
}

.flex-between {
  justify-content: space-between;
}

.flex-around {
  justify-content: space-around;
}

.flex-align-center {
  align-items: center;
}

.flex-align-stretch {
  align-items: stretch;
}

code {
  background: #eef1f6;
  padding: 15px 16px;
  margin-bottom: 20px;
  display: block;
  line-height: 36px;
  font-size: 15px;
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  a {
    color: #337ab7;
    cursor: pointer;
    &:hover {
      color: rgb(32, 160, 255);
    }
  }
}

.warn-content {
  background: rgba(66, 185, 131, .1);
  border-radius: 2px;
  padding: 16px;
  padding: 1rem;
  line-height: 1.6rem;
  word-spacing: .05rem;
  a {
    color: #42b983;
    font-weight: 600;
  }
}

//main-container全局样式
.app-container {
  padding: 20px;
}

.components-container {
  margin: 30px 50px;
  position: relative;
}

.pagination-container {
  margin-top: 30px;
}

.text-center {
  text-align: center
}

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  transition: 600ms ease position;
  background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);
  .subtitle {
    font-size: 20px;
    color: #fff;
  }
  &.draft {
    background: #d0d0d0;
  }
  &.deleted {
    background: #d0d0d0;
  }
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;
  &:hover {
    color: rgb(32, 160, 255);
  }
}

.filter-container {
  padding-bottom: 10px;
  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }
}

//refine vue-multiselect plugin
.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}

.MR10 {
  margin-right: 10px;
}

.ML10 {
  margin-left: 10px;
}

.MT10 {
  margin-top: 10px;
}

.MB10 {
  margin-bottom: 10px;
}

.MR20 {
  margin-right: 20px;
}

.ML20 {
  margin-left: 20px;
}

.MT20 {
  margin-top: 20px;
}

.MB20 {
  margin-bottom: 20px;
}

.MR30 {
  margin-right: 30px;
}

.ML30 {
  margin-left: 30px;
}

.ML40 {
  margin-left: 30px;
}
.white{
  color: #fff;
}
.green{
  color: #22dd82;
}
.blue{
  color: #459AE9;
}
.grey{
  color: grey;
}
/* 头像 通用样式 */
.avatar {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  vertical-align: middle;
}

// 文本省略号
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


// a标签用，伪装成ele按钮
.jdk-fake-btn {
  display: inline-block;
  text-align: center;
  padding: 0 20px;
  line-height: 34px;
  border: 1px solid #b3d8ff;
  border-radius: 4px;
  color: $jdk-main-color;
  cursor: pointer;
  box-sizing: border-box;
  &:hover {
    background: $jdk-main-color;
    border-color: $jdk-main-color;
    color: #fff;
  }
}

.el-dialog__header {
  text-align: center;
  border: none;
}

.dialog-footer {
  padding: 20px;
  text-align: center;
}

.el-dialog__footer{
  padding: 0;
}
.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #409EFF;
}

.img-in-table{
  width: 100px;
  height: 50px;
}

// 链接的颜色
.jdk-color-link {
  color: $jdk-main-color;
}
